.placesList-container {
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 20px;
}

.places-tile-items {
    width: 339px;
    height: 120px;
    border-radius: 17px;
    filter: drop-shadow(0px 13px 16.5px rgba(0, 0, 0, 0.05));
    background: $placesListBg;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row-reverse;

    .places-tile-info {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 15px;

        .places-tile-additional {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            span {
                font-size: 10px;
                color: $commentsLikes;
                margin: -8px 0 0 0;

            }
        }

        h3 {
            font-size: 13px;
            font-weight: 600;
            color: $placesTitle;
            width: 100%;
        }

        span {
            color: $prices;
            font-weight: 600;
            font-size: 12px;

        }

        .places-tile-price-per-reduced {
            text-decoration: line-through;
            color: $pricesReduced;
            margin-left: 10px;
        }

    }

    .placesList-item-img {
        width: 93px;
        height: 73px;
        border-radius: 8px;
        filter: drop-shadow(0px 13px 13.5px rgba(0, 0, 0, 0.1));
        margin-top: 15px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }

    }

}

.places-view-more {
    display: flex;
    justify-content: center;
margin-bottom: 20px;
    span {
        margin-right: 6px;
    }
}