  //Regular
  @font-face {
      font-family: "Montserrat";
      src: url("/src/assets/fonts/Monsterrat/Montserrat-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
  }
    //Medium
  @font-face {
        font-family: "Montserrat";
        src: url("/src/assets/fonts/Monsterrat/Montserrat-Medium.ttf") format("truetype");
              font-weight: 500;
              font-style:normal;

  }
  //SemiBold
  @font-face {
      font-family: "Montserrat";
      src: url("/src/assets/fonts/Monsterrat/Montserrat-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
            

}
 //Bold
 @font-face {
      font-family: "Montserrat";
      src: url("/src/assets/fonts/Monsterrat/Montserrat-Bold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
            

}
  body {
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 500;

        h1 {
              font-size: 22px;
              color: $overlayFont;
        }

        h2 {
              font-size: 35px;
              color: #444444;
              font-weight: 400;
        }

     

        h3 {
              font-size: 24px;
              font-weight: 500;
              color: $mainHeadline;
        }
  }